@charset 'utf-8';

.section.gnb{margin-bottom:40px;}
.section.gnb h3{padding:30px 0 10px 20px;font-weight:bolder;font-size:18px;color:#333;background:#faf9f7}
.section.gnb h3::before{content:'';display:inline-block;width:18px;height:18px;margin-right:9px;background-image:url('../images/icon.svg');background-size:400%;}
.section.gnb h3.franchise::before{background-position:0 0;}
.section.gnb h3.mall::before{background-position:-18px -18px;}
.section.gnb h3.store::before{background-position:-36px -18px;}


.section.gnb h4{font-weight:normal;}
.gnb_items>li{height:262px;overflow:hidden;float:left;}
.gnb_item01 img,.gnb_item03 img{width:100%;}
.gnb_item02 ul{margin-top:30px;}
.section.gnb .gnb_item02 h3{padding:30px 0 16px 0;background:transparent;color:#ba000c;}
.gnb_item02 li{box-sizing:border-box;float:left;width:33.33333333333333%;text-align:center;}
.gnb_item02 li:nth-child(2){border-left:1px solid #999;border-right:1px solid #999;}
.gnb_item02 p{line-height:20px;}
.gnb_item02 li:hover p{color:#ba000c;}
.gnb_item02 li img{width:70%;}