@charset 'utf-8';

.section.main_banner{margin-bottom:46px;}
.section.main_banner .row{width:100%;}
.bx-wrapper{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:none;background:none;}
.bx-controls-direction{display:none;}
.bx-wrapper .bx-pager{bottom:30px;}
.bx-wrapper .bx-pager.bx-default-pager a{width:10px;height:10px;border-radius:50%;}
.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#ba000c;}
.bx-wrapper .bx-pager.bx-default-pager a.active{background:#ba000c;}
